{% extends 'base.html.twig' %}

{% block title %}success!{% endblock %}

{% block body %}


<h2>Merci pour votre commande!</h2>

            {#{% for order in app.user.orders %}  #}

            {# votre commande sera livré par {{ order.carrierName}} à l'adresse suivante:<br/>
            {{ order.delivery|raw }} #}




    <p>
     Bonjour
    <strong>{{ app.user.firstname}}  {{ app.user.lastname}}</strong>.<br/>
         Une confirmation vient d'etre envoyer à l'adresse <strong>{{ app.user.email }}</strong>
    <hr>
    Pour suivre votre commande , rendez vous dans votre <a href="{{path('account_order') }}">compte</a>
    </p>
{% endblock %}
