<div class="product-item text-center">
    <a href="{{ path('product',{'slug': product.slug}) }}">
        <img src="{{ vich_uploader_asset(product ,'imageFile') }}" alt="{{ product.name }}" class="img-fluid">
    </a>
    <h5>{{product.name}}</h5>
    <span class="product-subtile">{{ product.subtitle }}</span>
    <div class="text-primary"> {{ (product.price/100)|number_format(2,',','') }}€</div>

</div>