{% extends 'base.html.twig' %}
{% block javascript %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
{% block title %}Passe une commande!{% endblock %}

{% block body %}
    <h1>Recap de  mes commandes</h1>
    <p> Verifiez vos recap avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>mon adresse de livraison</strong><br/>
            <div class="form-check">
                {{ delivery_content|raw }}
            </div>


            <hr>

            <strong>mon transporteur</strong><br/>
            <div class="form-check">
                {{ carrier.name }} <br/>
                {{ carrier.description }}<br/>
                {{ carrier.price }}
            </div>



        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>recap de mes comandes</b>
                <p>recap de vos produits</p>
            </div>
            {% set total = null %}
            {% for product in cart %}

                <div class="row">
                    <div class="col-2 my-auto">
                        <img src="{{ vich_uploader_asset( product.produit, 'imageFile') }}" alt="{{ product.produit.name }}" height="75px">
                    </div>
                    <div class="col-8 my-auto">
                        {{ product.produit.name}}<br/>
                        <small>{{ product.produit.subtitle}}
                            <br/>
                            × {{ product.quantite}}
                        </small>
                    </div>
                    <div class="col-2 my-auto">
                        {{ ((product.produit.price)/100)|number_format(2,',','') }}€
                    </div>

                </div>
                {% set total= total + (product.quantite * product.produit.price ) %}
            {% endfor %}

            <hr>
            <strong>sous-total :</strong> {{ (total/100)|number_format(2,',', '') }}€<br/>
            <strong>livraison :</strong> {{ (carrier.price/100)|number_format(2,',', '') }}€
            <hr>
            <strong>total :</strong>{{ ((total/100)+ (carrier.price/100))|number_format(2,',', '') }}€
            <a href="{{ path('stripe_create_session',{'reference':reference}) }}" class=" btn btn-success btn-block mt-3" id ="checkout-button" >Payer|{{ ((total/100)+ (carrier.price/100))|number_format(2,',', '') }}€</a>
        </div>

    </div>


{% endblock %}
